@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f3f4f6;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply font-sans text-Gray-1;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* Emoji mart styles */
.emoji-mart {
  border-radius: 2px;
  border: 1px solid #d1d5db;
  @apply bg-LightBG;
}

.emoji-mart-category-label > span {
  @apply bg-LightBG;
  padding: 8px 6px;
}

.emoji-mart-category .emoji-mart-emoji:hover:before {
  @apply bg-purple-8;
}

.emoji-mart-anchors {
  padding: 4px 12px 0;
}

.emoji-mart-anchor-icon > svg {
  margin: auto;
}

.emoji-mart-search {
  margin-top: 16px;
  padding: 0 16px;
}

.emoji-mart-search > input {
  padding: 8px 25px 8px 10px;
  @apply bg-LightBG;
}

.emoji-mart-search-icon {
  top: 9px;
  right: 22px;
}

.emoji-mart-scroll {
  margin-bottom: 16px;
  padding: 0 16px 6px;
  height: 285px;
}

/* Editor styles */
.editor {
  box-sizing: border-box;
  cursor: text;
  margin: 0 8px;
  flex: 1;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-bottom: 1px;
  max-height: 166px;
  overflow: scroll;
}

.public-DraftEditor-content {
  @apply caret-purple-5;
}

.editor span {
  transition: height 300ms ease-in-out;
}

.editor :global(.public-DraftEditor-content) {
  min-height: 140px;
}

.mention {
  @apply bg-purple-8 text-purple-5 rounded;
  padding: 1px 4px 2px;
  /* cursor: pointer; */
}

.mention-suggestion-container {
  @apply bg-LightBG;
  min-width: 422px;
  border-radius: 2px;
  border: 1px solid #d1d5db;
  z-index: 10;
}

.mention-suggestion-entry {
  @apply flex items-center px-2 py-1 space-x-3;
}

.mention-suggestion-entry:active {
  @apply bg-purple-5;
}

.mention-suggestion-entry--focused {
  @apply flex items-center px-2 py-1 bg-purple-5;
}

.mention-suggestion-text {
  @apply text-Gray-1 text-sm;
}

.mention-suggestion-text--focused {
  @apply text-white text-sm;
}

/* Common styles */
svg.path-no-filled > path {
  fill: inherit;
}

svg.path-no-stroke > path {
  stroke: inherit;
  stroke-width: inherit;
}

.divider {
  @apply bg-Gray-11;
}

.divider-horizontal {
  height: 1px;
}

.divider-vertical {
  width: 1px;
}

.image-clip {
  clip: rect(0, auto, 140px, 0);
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hyperlink {
  color: #36b;
  @apply hover:underline;
}

/* Linear progress bar */
.linear-progress {
  position: relative;
  overflow: hidden;
  display: block;
  height: 4px;
  z-index: 0;
  @apply bg-Gray-8;
}

.linear-progress__bar1 {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transform-origin: left;
  @apply bg-Gray-2;
  width: auto;
  -webkit-animation: fill-bar1 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
  animation: fill-bar1 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}

.linear-progress__bar2 {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transform-origin: left;
  @apply bg-Gray-2;
  width: auto;
  -webkit-animation: fill-bar2 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) 1.15s infinite;
  animation: fill-bar2 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) 1.15s infinite;
}

.linear-team-page-0 {
  background-image: #ff0000;
  background-image: radial-gradient(at 99% 32%, hsla(28, 100%, 74%, 1) 0, transparent 50%),
    radial-gradient(at 80% 0%, hsla(189, 100%, 56%, 1) 0, transparent 50%),
    radial-gradient(at 0% 50%, hsla(355, 85%, 93%, 1) 0, transparent 50%),
    radial-gradient(at 74% 25%, hsla(340, 100%, 76%, 1) 0, transparent 50%),
    radial-gradient(at 0% 100%, hsla(22, 100%, 77%, 1) 0, transparent 50%),
    radial-gradient(at 80% 100%, hsla(242, 100%, 70%, 1) 0, transparent 50%),
    radial-gradient(at 0% 0%, hsla(343, 100%, 76%, 1) 0, transparent 50%);
}

@keyframes fill-bar1 {
  0% {
    left: -35%;
    right: 100%;
  }
  60% {
    left: 100%;
    right: -90%;
  }
  100% {
    left: 100%;
    right: -90%;
  }
}

@keyframes fill-bar2 {
  0% {
    left: -200%;
    right: 100%;
  }
  60% {
    left: 107%;
    right: -8%;
  }
  100% {
    left: 107%;
    right: -8%;
  }
}

.dashed-line {
  margin: 5px 0;
  height: 2px;
  background: repeating-linear-gradient(
    to right,
    #6565fb 0,
    #6565fb 5px,
    transparent 5px,
    transparent 7px
  );
  /*5px red then 2px transparent -> repeat this!*/
}

.dashed-line-legend {
  margin: 5px 0;
  height: 4px;
  background: repeating-linear-gradient(
    to right,
    #6565fb 0,
    #6565fb 5px,
    transparent 5px,
    transparent 7px
  );
}

.dashed-line-target {
  margin: 5px 0;
  height: 4px;
  background: repeating-linear-gradient(
    to right,
    #FF5F68 0,
    #FF5F68 5px,
    transparent 5px,
    transparent 7px
  );
}

.zebra-stripes {
  background-image: repeating-linear-gradient(-60deg,
      transparent,
      transparent 0px,
      #FF5F68 2px,
      #FF5F68 6px);
  /* with multiple color stop lengths */
  /* background-image: repeating-linear-gradient(-45deg,
      transparent 0 20px,
      black 20px 40px); */
}